.product-cards--details {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: $black;
    border-radius: .5rem;
    box-shadow: 0 .4rem .8rem rgba(0,0,0,0.16);
    & .icon {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-bottom: 1rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    & .clock {
        @extend .icon;
        background-image: url(../assets/icons/clock.svg);
    }
    & .eye {
        @extend .icon;
        background-image: url(../assets/icons/eye.svg);
    }
    & .dollar {
        @extend .icon;
        background-image: url(../assets/icons/dollar-sign.svg);
    }
    & .checked {
        @extend .icon;
        background-image: url(../assets/icons/check-circle.svg);
    }
    &__title {
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: $just-white;
    }
    &__body {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
    }
}