/*
1. Posicionamiento
2. Box model 
3. Tipografía
4. Visuales
5. Otros
 */
 $bitcoin-orange: #F7931A;
 $soft-orange: #FFE9D5;
 $secondary-blue: #1a9af7;
 $soft-blue: #E7F5FF;
 $warm-black: #201E1C;
 $black: #282623;
 $grey: #bababa;
 $off-white: #FAF8F7;
 $just-white: #fff;
 $primary-font: 'DM Sans', sans-serif;
 $secondary-font: 'Inter', sans-serif;

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 html {
    font-size: 62.5%;
    font-family: $primary-font;
 }