.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    & h2 {
        padding-top: 6rem;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: $just-white;
    }
}