.main-tables-container {
    display: flex;
    max-width: 930px;
    margin: 0 auto;
}
.product-cards{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.main-plans-container--slider {
    justify-content: center;
}